@if(post){
<h1>{{ post.title }}</h1>

<!-- Display category and create date -->
<div class="flex justify-between mb-10">
  <p>
    Category:
    <a [routerLink]="'/categories/' + post.category.slug"
      ><strong>{{ post.category.name }}</strong></a
    >
  </p>
  <p>
    Created: <strong>{{ moment(post.createdAt).fromNow() }}</strong>
  </p>
</div>

<p>{{ post.content }}</p>

<!-- Tags Section -->
<div class="mt-20">
  <h2 class="text-2x1">Tags</h2>
  <div class="flex mt-5">
    @for(postTag of postTags; track postTag.tagId){
    <a
      [routerLink]="'/tags/' + postTag.tag.slug"
      class="bg-blue-500 text-white px-4 py-2 mr-2 rounded-md hover:bg-blue-600"
      >{{ postTag.tag.name }}</a
    >
    }
  </div>
</div>

<!-- Comments section -->
<div class="mt-20">
  <h2 class="text-2xl mb-6">Comments</h2>
  @if(authService.session){
  <form [formGroup]="form" (submit)="submitComment()">
    <div class="flex mb-3">
      <img
        src="user-avatar.png"
        alt="Avatar"
        class="w-10 h-10 rounded-full mr-3"
      />
      <div class="flex flex-col w-full">
        <textarea
          formControlName="content"
          name="content"
          id="content"
          class="w-full h-[200px] border-solid border-[1px] border-gray-300 rounded-md p-4 outline-none"
          placeholder="Enter your comment"
        ></textarea>
      </div>
    </div>

    <button
      [disabled]="!form.valid"
      type="submit"
      class="bg-[var(--primary)] disabled:bg-[#9BA3AF] text-white px-4 py-2 mb-10 float-right rounded-md hover:bg-blue-600 transition-colors duration-300"
    >
      Post Comment
    </button>
  </form>

  } @else {
  <div class="text-center mb-12">
    <a [routerLink]="['/auth/login']" class="text-[var(--primary)] font-bold"
      >Login</a
    >
    to post a comment.
  </div>
  } @for(comment of comments; track comment.id){
  <div class="flex w-full gap-y-5 mb-5">
    <div>
      <img
        src="user-avatar.png"
        alt="Avatar"
        class="w-10 h-10 rounded-full mr-3"
      />
    </div>

    <div class="w-full">
      <div
        class="border-[1px] border-solid border-gray-300 grow p-4 rounded-xl"
      >
        <div class="font-bold">{{ comment.user.name }}</div>
        <div class="text-gray-500 mb-2 text-xs">
          {{ moment(comment.createdAt).fromNow() }}
        </div>
        <div class="">
          {{ comment.content }}
        </div>
      </div>
    </div>
  </div>
  }
</div>

}
