<form (submit)="submit()" class="card w-[400px]" [formGroup]="form">
  <div>
    <label for="password">Password</label>
    <input
      formControlName="password"
      type="password"
      id="password"
      name="password"
      placeholder="Password"
    />
    <!-- Display password errors -->
    @if( form.get('password')?.touched && form.get('password')?.errors ){

    <div>
      @if(form.get('password')?.errors?.['required']){
      <div class="text-red-500">Password is required.</div>
      } @if(form.get('password')?.errors?.['minlength']){
      <div class="text-red-500">
        Password must be at least
        {{form.get('password')?.errors?.['minlength'].requiredLength}}
        characters.
      </div>
      }
      <!-- Display password pattern errors -->
      @if(form.get('password')?.errors?.['pattern']){
      <div class="text-red-500">
        Password must contain at least one uppercase letter, one lowercase
        letter, one number and one special character.
      </div>

      }
    </div>
    }
  </div>

  <div>
    <label for="confirmPassword">Confirm Password</label>
    <input
      formControlName="confirmPassword"
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      placeholder="Confirm Password"
    />
    <!-- Display password errors -->
    @if( form.get('confirmPassword')?.touched &&
    form.get('confirmPassword')?.errors ){
    <div>
      @if(form.get('confirmPassword')?.errors?.['required']){
      <div class="text-red-500">Password is required.</div>
      } @if(form.get('confirmPassword')?.errors?.['minlength']){
      <div class="text-red-500">
        Password must be at least
        {{form.get('confirmPassword')?.errors?.['minlength'].requiredLength}}
        characters.
      </div>

      <!-- Display password pattern errors -->
      } @if(form.get('confirmPassword')?.errors?.['pattern']){
      <div class="text-red-500">
        Password must contain at least one uppercase letter, one lowercase
        letter, one number and one special character.
      </div>

      }
    </div>
    } @if(form.errors?.['mismatch']){
    <div class="text-red-500">Password do not match.</div>
    }
  </div>

  <div class="flex justify-end mt-3">
    <button [disabled]="!form.valid" type="submit">Update psassword</button>
  </div>

</form>
